*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans serif;
    color: #2E2F42;
    background-color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
}

.container {
    width: 768px;
    margin: 0 auto;
}

.page-header {

    display: flex;
    padding: 0px 16px 0px;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(231, 233, 252, 1);
}


.webstudio {
    display: flex;
    gap: 0px;
    padding: 0px 120px 0px 0px;
}

.web {
    color: #4D5AE5;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.studio {
    color: #2E2F42;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.menu {
    display: flex;
    gap: 40px;
    list-style: none;
    padding-right: 122px;       
}

.menu .link {
    display: block;
    font-family: "Roboto";
    color: rgba(46, 47, 66, 1);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;        
}

.menu .link:hover,
.menu .link:focus {
    color: rgba(64, 75, 191, 1);
    line-height: 1.5;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .link::after {

    display: block;

    background-color: #fff;
    width: auto;
    height: 4px;
    border-radius: 2px;
    content: "";

}

.menu .link:hover::after {

    background-color: #404BBF;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    padding: 16px 16px 16px 0px;

}

.address .link {
    color: #434455;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.04em;
    text-align: center;
}

.address .link:hover,
.address .link:focus {
    color: #404BBF;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.firstsection {

    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)), url(../images/hero-background.jpg);
    background-position: center;
    background-color: #2E2F42;
    background-size: cover;

}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.0714;
    color: #FFFFFF;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.02em;

    padding: 112px 136px 0px;
    margin-bottom: 36px;
}

button {

    margin: 0 auto 112px;

}

.buttontext {

    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    text-align: center;
    letter-spacing: 0.04em;

    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 4px;

    padding: 16px 32px;

}

.buttontext:hover {
    background-color: #404BBF;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
    padding: 96px 16px;
}

.secondsection .subjects {
    
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    
}

.item {
    position: relative;
    flex-basis: calc((100% - 24px) / 2);
    list-style: none;

}

.item h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    color: rgba(46, 47, 66, 1);
    letter-spacing: 0.02em;
    
    margin-bottom: 8px;
    margin-right: 92px;
}

.item p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: rgba(67, 68, 85, 1);
    letter-spacing: 0.02em;
}

.thirdsection {

    background-color: rgba(244, 244, 253, 1);
    padding: 96px 108px 96px;

}

h2 {

    font-size: 36px;
    line-height: 1.111;
    color: rgba(46, 47, 66, 1);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;

    padding: 0px 0px 72px;

}

.ourteam {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 24px;

    padding: 0px 0px 0px;

}

.ourteam .card {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

}

.card-image {
    display: block;
}

.ourteam .id {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;
    text-align: center;

}


.ourteam .name {
    font-size: 20px;
    line-height: 1.2;
    color: rgba(46, 47, 66, 1);
    font-weight: 500;
}

.ourteam .position {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(67, 68, 85, 1);
    font-weight: 400;
}


.social-icons-our {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-self: flex-start;
    list-style: none;

}

.icons_ourteam {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(77, 90, 229, 1);
    width: 40px;
    height: 40px;
}

.icons_ourteam:hover {

    background-color: #404BBF;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-instagram_1,
.icon-twitter_1,
.icon-facebook_1,
.icon-linkedin_1 {

    width: 24px;
    height: 24px;

}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 24px;
}

.card2 {
    position: relative;
    padding: 0px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 1px 6px 0px rgba(7, 7, 7, 0.08);
}

.card2:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.card2-image {
    width: 356px;
    height: 300px;
    display: block;

}

.overlay2 {
    top: 0;
    left: 0;
    z-index: 1;

    position: absolute;
    width: 360px;
    height: 300px;

    padding: 40px 32px 164px;
    background-color: #4D5AE5;
    color: #fdfdf4;
    letter-spacing: 0.02em;

    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
}

.card2:hover .overlay2 {
    transform: translateY(0);
}

.portfolio .id2 {
    position: relative;
    z-index: 2;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;

    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #E7E9FC;


}

.portfolio .work {
    font-size: 20px;
    line-height: 1.2;
    color: #2e4230;
    font-weight: 700;
}

.portfolio .type {
    font-size: 16px;
    line-height: 1.5;
    color: #435544;
}


footer {
    display: flex;
    flex-direction: column;
    background-color: #2E2F42;
    padding: 96px 0px 96px 108px;
    gap: 72px;

}

.web-and-social {

    display: flex;
    flex-direction: row;
    gap: 24px;
}

.webstudio2 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.03em; 
    
}

.web2 {
    color: #4D5AE5;
    text-decoration: none;
    
}

.studio2 {
    color: #F4F4FD;
    text-decoration: none;
    
}

.aim {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    margin-top: 16px;
}

.social {
    margin-right: 164px;
    width: 208px;
    height: 80px;
}

.social-media-text {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;

}

.icons_footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(77, 90, 229, 1);

}

.icon-instagram_2,
.icon-twitter_2,
.icon-facebook_2,
.icon-linkedin_2 {

    width: 24px;
    height: 24px;

}

.icons_footer:hover {

    background-color: rgba(49, 208, 170, 1);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.subscribe {
    display: flex;
    flex-direction: column;
    width: 453px;
    height: 80px;
    margin-right: 207px;
}

.subscribe-text {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

    width: 75px;
    height: 24px;
}

.email-button-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;

}


.form2-input {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    background-color: rgba(46, 47, 66, 1);
    width: 264px;
    height: 40px;
    color: rgba(255, 255, 255, 1);

    border: 1px solid rgba(255, 255, 255, 1);;

    border-radius: 4px;
    opacity: 0.3;
    font-family: inherit;
    font-size: 16px;
    line-height: 2;
    outline: none;


    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.form2-input::placeholder {
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.form2-button {
    display: flex;
    flex-direction: row;
    padding: 8px 24px;
    background-color: rgba(77, 90, 229, 1);
    color: rgba(255, 255, 255, 1);
    width: 165px;
    height: 40px;
    gap: 16px;

    border: 0;
    border-radius: 4px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    outline: none;

    cursor: pointer;

    margin-bottom: 0;
}

.text2 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    justify-items: center;

}

.icon-subscribe-button {
    width: 24px;
    height: 20px;

}